@model Store.Models.Categ

@{
    ViewBag.Title = "Просмотр";
}

<h2>Browsing Categ: @Model.Category</h2>
<ul>
    @foreach (var tovar in Model.Tovars)
    {
        <li>
            @Html.ActionLink(tovar.Title,"Details", new { id = tovar.TovarId })
        </li>
    }
</ul>