@model IEnumerable<Store.Models.Category>
<ul id="sidebarlist">
    @foreach (var category in Model)
    {
        <li>
            @Html.ActionLink(category.CategoryName, "Browse", "Store", new {category = category.CategoryId}, null)
        </li>
    }
</ul>