@if(Request.IsAuthenticated) {
    
    <text> <p>Добро пожаловать, <strong>@Html.ActionLink(User.Identity.Name, "UserCart","Checkout", new { nameparam = User.Identity.Name }, "")</strong></p>
     @Html.ActionLink("Выход", "LogOff", "Account") </text>
}
else {
    @: @Html.ActionLink("Вход", "LogOn", "Account") 
}
