<div class="items">
    <ul>
        @if (Request.IsAuthenticated)
        {
            <li>@Html.ActionLink("Logout", "LogOff", "Account")</li>
            <li>@Html.ActionLink("Change password", "ChangePassword", "Account")</li>
            <li>Welcome, <strong>@Html.ActionLink(User.Identity.Name, "UserOrders", "Checkout", new {}, "")</strong></li>
        }
        else
        {
            <li>@Html.ActionLink("Login", "LogOn", "Account")</li>
        }
    </ul>
</div>