@if (Request.IsAuthenticated)
{
    <text>
        <p>Welcome, <strong>@Html.ActionLink(User.Identity.Name, "UserCart", "Checkout", new {nameparam = User.Identity.Name}, "")</strong></p>
        @Html.ActionLink("Logout", "LogOff", "Account") 
    </text>
}
else
{
    @: @Html.ActionLink("Login", "LogOn", "Account") 
}
