@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

<h2>Произошла ошибка при обработке вашего запроса. </h2>
    <a href="javascript:history.go(-1)">Нажмите сюда</a> 
    чтобы вернуться обратно.