@model Store.Models.Order

@{
    ViewBag.Title = "Admin-пользователи";
}

<h2>Удаление заказа</h2>

<h3>Вы действительно хотите удалить заказ №@Model.OrderId?</h3>

@using (Html.BeginForm()) {
    <p>
        <input class="buttonsubmit" type="submit" value="Удалить" /> |
        <a href="javascript:history.go(-1)">Назад</a> | 
    </p>
}
