@model Store.Models.Order
@{
    ViewBag.Title = "Оформите заказ";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"
type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"
type="text/javascript"></script>
@using (Html.BeginForm()) {
 <table> 
     <tr><td>
    <h2>Оформите заказ</h2>
    <fieldset>
        <legend>Shipping Information</legend>
        @Html.EditorForModel()
    </fieldset>
    <fieldset>
        <legend>Payment</legend>
        <p>Введите код: "FREE"</p>
        
        <div class="editor-field">
            @Html.TextBox("PromoCode")
        </div>
    </fieldset>
    
    <input class="butt" type="submit" value="Оформить заказ" />
         </td></tr> 
     </table> 
}