@model int
@{
    ViewBag.Title = "The order has been placed";
}

<br />
<h3>Thank you for your order! The number of your order: @Model</h3>
<br />

@Html.ActionLink("Orders history", "UserCart", "Checkout", new { username = User.Identity.Name }, "")
