@model int
@{
    ViewBag.Title = "Заказ оформлен";
}
<br />
<h3>Спасибо за заказ! Номер вашего заказа: @Model</h3>
<br />

@Html.ActionLink("История заказов", "UserCart","Checkout", new { nameparam = User.Identity.Name }, "")
