@model IEnumerable<Store.Models.Order>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Orders of the user: @User.Identity.Name</h2>

<table>
    @foreach (var orderId in Model.Select(i => i.OrderId))
    {
        <tr>
            <td>
                The order # @Html.DisplayFor(i => orderId)
                @Html.ActionLink("Details", "UserOrderDetails", "Checkout", new { id = orderId }, "")
            </td>
        </tr>
        <tr><td>---------------------------------</td></tr>
    }
</table>
